body{
      background-image: url(../img/0.jpg);
   }
   #a{
      margin-right:10px;
   }
   .row{
      margin-top: 10px;
      margin-left: auto;
      margin-right: auto;
      background-color: #EEEEEE;
      width: 500px;
      height: 620px;
   }
   .row1{
    background-color: #FFFFFF;
    width: 500px;
    height: 100px;
   }
   h3{
    padding-top: 20px;
    padding-left: 25px;
   }
   p{
    padding-left: 25px;
   }
   #form1{
    padding-top: 10px; 
   }
   #form1{
    width: 440px;
    margin: auto;
   }
   #in3{
    width: 440px;
   }
   button {
   	float: right;
   }